<!-- Slider Start -->
{% assign banner = site.data.content.hero_area %}
<section class="banner-2 position-relative bg-blue">
	<img src="{{ banner.image_about | relative_url }}" alt="" class="overlay-shape">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-7">
				<div class="banner-content-2">
					<h1 class="h5 text-yello h1h2 pri-title">soy Findemor,</h1>
					<p class="my-4"><strong>desarrollo videojuegos como hobby</strong>, <br>y <strong>creo contenido en Youtube</strong> sobre desarrollo de videojuegos 
					mostrando mi experiencia.</p>
				</div>
			</div>

			<div class="col-lg-6 col-md-5 align-self-end">
				<img src="{{ '/assets/images/banner/findemor-about-me.png' | relative_url }}" alt="" class="img-fluid position-absolute-">
			</div>
		</div>
	</div>
</section>
<!-- Slider End -->