{% for juego in site.juegos %}
<div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{% for category in juego.categories %} &quot;{{ category | downcase | slugify }}&quot; {% unless forloop.last %}, {% endunless %} {% endfor %}]">
  <div class="position-relative inner-box">
    <div class="image position-relative ">
      <img src="{{juego.thumbnail | relative_url }}" alt="juego-image" class="img-fluid w-100 d-block" />
      <div class="overlay-box">
        <div class="overlay-inner">
          <a class="overlay-content text-center" href="{{juego.url | relative_url }}">
            <h5 class="mb-0 text-color-hero">{{juego.title}}</h5>
            <p class="text-color-hero">{% for category in juego.categories %} {{category}}{% unless forloop.last %} , {% endunless %} {% endfor %}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
