<!-- PortfoliO Start -->
 {% assign community = site.data.content.community %}
<section class="pt120 section recurso-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span  class="h5 text-uppercase text-color-hero" style="margin-bottom:30px">
          Se aprende mejor acompañado. Ya somos más de {{community.youtube_subs}}. ¡Ni tan mal!
        </span>
        <p class="mb-4 mt-2 ptext">Comparto vídeos desde la idea del videojuego hasta la publicación. <a href="https://www.youtube.com/@findemor/videos">👉 Entra y descúbrelo.</a></p>
        <p class="mb-4 mt-2 ptext">¿Necesitas ayuda para desarrollar tu videojuego? <br><a href="{{community.join_free_url}}" style="display:inline">Únete gratis</a> y obtén acceso a la comunidad de Discord.</p>
      
      </div>
    </div>
  </div>
</section>
<!-- Recurso End -->
