<!-- Slider Start -->
{% assign banner = site.data.content.hero_area %}
<section class="banner-2 position-relative bg-blue">
	<img src="{{ banner.background_image | relative_url }}" alt="" class="overlay-shape">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-7">
				<div class="banner-content-2">
					<h1 class="h5 text-yello h1h2 pri-title">{{banner.title}}</h1>
					<h2 class="my-4 h2p">{{ banner.subtitle }}</h2>
					<p class="my-4">{{ banner.content }}</p>
					{% if banner.button.enable %}
					<a href="{{ site.data.content.community.join_free_url | relative_url }}" class="btn btn-primary">{{ banner.button.label }}</a>
					{% endif %}
				</div>
			</div>

			<div class="col-lg-6 col-md-5 align-self-end">
				<img src="{{ banner.image | relative_url }}" alt="" class="img-fluid position-absolute-">
			</div>
		</div>
	</div>
</section>
<!-- Slider End -->