<!-- Contact Start -->
<section class="section home-lastcta">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<span class="h5 text-color text-uppercase pri-title ">
					¿No quieres perderte nada?
				</span>

				<p style="margin-top: 20px;">Si quieres enterarte de nuevos videos, recursos, avances de juegos o próximos cursos, el mejor lugar es mi  Patreon.</p>
				<p>La newsletter es gratuita y sin algoritmos de por medio.</p>
				<p>Sin spam, solo contenido real, cuando tengo algo útil que compartir.</p>

				<a href="{{ site.data.content.community.join_free_url | relative_url }}" class="btn btn-secondary">👉 Apúntate gratis aquí</a>

			</div>
			<div class="col-lg-5 d-flex justify-content-center align-items-center">
				<img src="/assets/images/recurso/miniaturas-findemor.png" alt="Findemor" class="img-fluid" style="width: 100%;" />
			</div>
		</div>
	</div>
</section>
<!-- Contact End -->