// Color Variables
$white: #fff;
$black: #000;
$primary-color:#ffda37;
$secondary-color:#141c28;
$extra-color:#934ae4;
$border-color: #e5e5e5;
$black-light:#848485;
$yello:#ffda37;
$blue: #470FA8;
$heading-font:'Poppins', sans-serif;
$body-font:'Open Sans', sans-serif;
$dark-color: #141c28;
$hero-color: #7e00dd; //#470fa8;
